<th:block th:fragment="navbar">
  <div class="container text-start border border-dark">
    <div class="row">
      <div class="col d-flex align-items-center border-end border-dark p-3">
        <a href="/" class="text-decoration-none text-dark">Best of</a>
      </div>
      <div class="col-10 p-3">
        <a type="button" class="btn btn-outline-dark" href="/movies">Movies</a>
        <a type="button" class="btn btn-outline-dark" href="/songs">songs</a>
      </div>
    </div>
  </div>
</th:block>