<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Detail</title>
  <th:block th:replace="fragments/bootstrap :: bootstrap"></th:block>
</head>

<body class="container text-center m-5">
  <header>
    <th:block th:replace="fragments/navbar :: navbar"></th:block>
  </header>
  <main class="border border-dark border-top-0 p-5">
    <div th:replace="fragments/detail :: detailFragment('Movie Detail', ${movie})"></div>
  </main>
</body>

</html>